body{
    background-color: #fbfbfb;
    padding: 50px;
}

kbd{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    justify-content: space-around;
    align-items: flex-start;
    column-gap: 2rem;
    row-gap: 5rem;
}

a{
    position: relative;
    text-decoration: none;
    color: #303030;
}

article{
    display: block;
    height: 400px;
    min-width: 280px;
    width: 20vw;
    padding: 20px;
    font-size: 1.1rem;
    
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #989898;
    box-shadow: 10px 10px 10px 0px #cbcbcb;
    
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);;
}

article:hover{
    transform: scale(1.1);
}

article > *{
    animation: text-appears .5s;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes text-appears{
    from { margin-top: 100px; color: transparent;}
    to { margin-top: 20px; color: #303030;}
}

@media only screen and (max-width: 500px) {
    article{
        width: 80%;
        float: 20%;
    }
}
